// Requirements
// ============

@import "susy";

$susy: (
    global-box-sizing: border-box,
    columns: 12,
    gutters: 1/4,
    use-custom: (rem: true
    )
);

@include border-box-sizing;

.box {
    padding: 15px;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

@for $i from 1 through 12 {
    .box-#{$i} {
        @include span($i);
    }
}
