.logo {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    color: #777;
    float: left;
    margin: 0;
    span.logo-times {
        font-size: 15px;
        color: #BBB;
        padding: 0px 5px;
    }
    span.logo-school {
        color: #000;
        font-weight: 100;
    }
}

.folder {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    color: #777;
    cursor: pointer;
}

.user {
    float: right;
    font-size: 13px;
    color: #777;

    .user-title {
        float: left;
        font-weight: 300;
        font-size: 15px;
        padding-right: 12px;
        border-right: 1px solid #E1E1E1;
        margin-right: 12px;
    }

    .user-link {
        padding: 2px 0;
        float: left;
    }
}
