body {
  font-family: "Helvetiva-Neue", "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.48;
  color: #545454;
  text-align: left;
}

p {
  margin: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
}

h1 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  color: #999;
  margin: 0.5em 0;
}

h2 {
  font-size: 26px;
  line-height: 30px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}
